{% extends 'base.html' %}
{% block title %}Index.html extends base.html{% endblock %}
{% block head %}Task Master{% endblock %}
{% block body %}
    <table>
        <tr>
            <th>Task</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <a href="">Delete</a>
                <br>
                <a href="">Update</a>
            </td>
        </tr>
    </table>

    <div class="form">
        <form action="/" method="post">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
{% endblock %}